@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&family=Source+Sans+Pro:wght@300&display=swap');


        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: white;
            /* outline:1px solid greenyellow; */
        }
        body{
            background: black;
        }
        html{
            /* color-scheme: light dark; */
            scroll-behavior: smooth;
            scroll-padding-top: 120px;
        }
        ::-webkit-scrollbar {
            width: 7px;
           
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
       
       

    .ban-img-body{
        animation: 8s ban-animate linear infinite;
    }

    @keyframes ban-animate{
        0%{
           transform: translateX(0);
        }
        30%{
            transform: translateX(0);
        }
        35%{
            transform: translateX(-25%);
        }
        65%{
            transform: translateX(-25%);
        }
        70%{
            transform: translateX(-50%);
        }
        95%{
             transform: translateX(-50%);
        }
        100%{
             transform: translateX(-75%);
        }
    }

    .mySwiper .swiper-wrapper{
        transition-timing-function: linear;
      }
      
    .sec-three{
        animation:20s secThreeback linear infinite;
    }
    
    @keyframes secThreeback{
        0%{
            background-image: url(import/b11.png);
        }
        20%{
            background-image: url(import/b11.png);
        }
        25%{
            background-image: url(import/b12.png);
        }
        45%{
            background-image: url(import/b12.png);
        }
        50%{
            background-image: url(import/b13.png);
        }
        70%{
            background-image: url(import/b13.png);
        }
        75%{
            background-image: url(import/b14.png);
        }
        95%{
            background-image: url(import/b14.png);
        }
        100%{
            background-image: url(import/b11.png);
        }
    }
 
    .sus-slider-one{
        animation:10s sus-one linear infinite;
    }
    @keyframes sus-one{
        0%{
            transform: translateX(0%);
        }
        20%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(-20%);
        }
        45%{
            transform: translateX(-20%);
        }
        50%{
            transform: translateX(-40%);
        }
        70%{
            transform: translateX(-40%);
        }
        75%{
            transform: translateX(-60%);
        }
        95%{
            transform: translateX(-60%);
        }
        100%{
            transform: translateX(-80%);
        }
    }
    .sus-slider-two{
       animation:10s sus-two linear infinite;
    }
    @keyframes sus-two{
        0%{
            transform: translateX(0%);
        }
        20%{
            transform: translateX(0%);
        }
        25%{
           transform: translateX(-25%);
        }
        45%{
            transform: translateX(-25%);
        }
        50%{
            transform: translateX(-50%);
        }
        70%{
            transform: translateX(-50%);
        }
        75%{
            transform: translateX(-75%);
        }
        100%{
            transform: translateX(-75%);
        }
    }
/* 
      @media screen and (max-width:950px){
       
        .nav-list{
            display: none;
        }
        .menu{
            display: flex;
        }
        .contact-btn{
            display: none;
        }

        .banner h1{
            font-size: 30px;
        }


        .sec-one{
            flex-direction: column;
        }
        .sec-one-left{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 50px 0px;
        }
        .sec-one-right{
            width: 100%;
        }


        .sec-two-con{
            flex-direction: column;
        }
        .sec-two-left{
            width: 100%;
        }
        .sec-two-left-con{
            width: 100%;
            
        }
        .sec-two-left-con p{
            width: 100%;
        }
        .sec-two-right{
            width: 100%;
        }


        .sec-seven-banner{
            height: 350px;
            text-align: center;
        }
        .sec-seven-overlay{
            padding: 0 20px;
        }
        .sec-seven-img{
            grid-template-columns: repeat(2,1fr);
        }



        .sec-three-one h1{
            font-size: 50px;
        }
        .sec-three-two{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        .sec-three-two-one-num{
            font-size: 40px;
        }


        .sec-four{
            flex-direction: column;
        }
        .sec-four-right{
            width: 100%;
        }
        .sec-four-right img{
            width: 90%;
            margin: auto;
        }
        .sec-four-left{
            width: 100%;
            padding:50px 0px;
            padding-bottom: 0px;
        }


        .sec-five-products{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 50px;
        }
        .sec-five-products-body{
            width: 100%;
        }


        .sec-six{
            flex-direction: column-reverse;
        }
        .sec-six-left{
            width: 100%;
        }
        .sec-six-left img{
            width: 100%;
        }
        .sec-six-right{
            width: 100%;
            padding-bottom: 30px;
        }
        .sec-six-right p{
            text-align: justify;
            width: 95%;
        }

      }


      @media screen and (max-width:730px){
        .swiper-slide img{
            width:70% ;
            margin: auto;
        }


        .sec-eight{
           flex-direction: column;
           gap:20px;
        }
      }


       @media screen and (max-width:550px){
         .swiper-slide img{
            width:40% ;
            margin: auto;
        }
        
        
        .sec-seven-img{
            width: 85%;
        }


        .sec-five-products{
            grid-template-columns: repeat(1,1fr);
        }

        .sec-eight-icon{
            justify-content: center;
        }


       }

      @media screen and (min-width:951px){
        .drop{
            display: none;
        }
      }
      */